@import 'tailwindcss';

@font-face {
  font-family: 'Amerigo BT';
  src: url('./assets/fonts/AmerigoBT.ttf');
  font-weight: 200;
  font-style: normal;
}

@theme {
  /* Colors */
  --color-mint-custom: #00b289;
  --color-grey-custom: #4c4d5f;
  --color-yellow-custom: #f8db62;

  /* Fonts */
  --font-amerigo: 'Amerigo BT', sans-serif;
}